body {
				background: url(BG.png) fixed center;
				background-size: cover;
				background-repeat: no-repeat;
				font-family: 'Crete Round', serif;
			}
			
			
			
			
			
			

			.container {
				width: 1400px;
				background-color: white;
				border: 10px solid #000;
				margin-left: auto;
				margin-right: auto;
				height 4000px;
			}

			.content {
				width: 1500px;
				padding: 5px;
				margin-top: 10px;
			}
			
			
			
			
			h1 { 
			font-size: 90px;
			margin-left: -120px;
			margin-top: auto;
			margin-bottom: auto;
			padding: 0px;
			text-align: center;
			}
			
			.Mini {
			font-size: 40px;
			text-align: center;
			margin-left:  -600px;
			float: center;
			}

			p {	
				font-size: 15pt;
				text-align: center;
			}
			
			.Paragraph {
			border: 5px solid transparent;	
			border-width: 10px;
			width: 920px;
			margin-right: 150px;
			float: center;
			text-align: center;
			font-size;
			

			}
			
			
			
			
			
			img {
				float: center;
				margin-right: 20px;
				margin-bottom: 5px;
			}	
			
			
			.Ball {
			width: 50px;
			height: 50px;
			margin-right: -5px;
			margin-bottom: auto;
			}
			
			.Brawl {
			width: 1400px;
			height: 700px;
			padding: 10px;
			margin-left: -10px;
			float: left;
			border: 5px groove black;
			padding: 0px;
			
			}
			
			ul {
				list-style-type: none;
				margin: 0px;
				padding: 0px;
				background-image: linear-gradient(to bottom right,yellow,white);
				overflow: hidden;
			}
			
			li {
			float: left;
			width: 280px;
			}
			
			li a {
				display: block;
				color: black;
				text-align: center;
				padding: 14px 16px;
				text-decoration: none;
			}
			li a:hover:not(.current) {
			background-color: blue;
			}
			
			
			table,th, td {
			border: 2px solid black;
			text-align: center;
			background-image: linear-gradient(to bottom right,yellow,white);
			font-size: 16pt;
			
			
			}
			
			
			table {
			border-collapse: collapse;
			width: 1400px;
			margin-left: -5px;
			height: 1800px;
			margin-bottom: -100px;	
			}
			th, td {
			padding: 10px;
			}
			td {
			width: 50px;
			height: 20px;
		
			}
			td:hover {
			transform: scale(1.2,1.2);
			
			
			
			}
			
			.Title {
			border-bottom: 3px solid gray;
			width: 1400px;
			text-align: center;
			margin-left: -5px;
			}
			.current{
				background-color: cyan;
			}
			.World {
			height: 400px; 
			width: 400px;
			float: right;
			margin-right: 120px;
			border: 20px groove cyan;
			}
			.World:hover {
			transform: scale(1.1,1.1);
			}